:root {
  --dark: #1c2130;
  --light: #ffffff;
  --light-2: #b9d7d9;
  --past: #475156;
  --present: #d14334;
  --future: #83a300;
  --button: #005bc5;
  --button-hover: #00b4fc;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: var(--dark);
  color: var(--light-2)
}

h1 {
  font-family: 'Patua One', cursive;
}

h1 i {
  margin-left: 15px
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--light);
  border-left: 1px solid var(--dark);
  padding: 10px;
}

.lead {
  margin: 0;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid var(--dark);
}

.hour {
  background-color: var(--dark);
  color: var(--light-2);
  border-top: 1px dashed var(--past);
  padding: 10px;
}

.past {
  background-color: var(--past);
  color: var(--dark);
}

.past textarea {
  color: var(--light-2);
}

.present {
  background-color: var(--present);
  color: var(--light);
}

.future {
  background-color: var(--future);
  color: var(--light);
}

.saveBtn {
  border: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--button);
  color: var(--light);
  transition: all 0.3s ease-in-out;
}

.saveBtn:hover {
  background-color: var(--button-hover);
}